# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.env/
myenv/

# SQLite database
*.db
*.sqlite3
*.db

# IDE files
.vscode/
.idea/

# OS specific files
.DS_Store
Thumbs.db
